.containerRules {
    display: none;
    position: absolute;
    width: 300px;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: white;
    font-size: 28px;
}

.containerRules span {
    color: var(--DarkText);
}

.close {
    position: absolute;
    margin-top: 5px;
    margin-left: 170px;
    cursor: pointer;
}

.rules {
    display: block;
    width: 100%;
    padding: 30px 10px 0px 10px;
}

footer {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.button-rules {
    background: none;
    padding: 0.5em 3em;
    border: solid 2px var(--HeaderOutline);
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.button-rules:active {
    background-color: rgba(209, 209, 209,0.5);
}

@media (max-width: 450px) {
    .containerRules {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .containerRules div{
        width: 100%;
    }

    .containerRules span {
        display: block;
        margin-top: 2em;
        margin-bottom: 3em;
        text-align: center;
    }
    
    .close {
        display: block;
        position: absolute;
        bottom: 3.5em;
        left: 50%;
        margin-left: -10px;
    }

    .button-rules {
        padding: 0.3em 3em;
        font-weight: 500;
    }

    footer {
        position: relative;
        right: 0px;
        bottom: -6%;
        padding: 0 auto;
    }
    
}