header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 55vw;
    min-width: 330px;
    margin-top: -11vh;
    padding: 1em;
    border: solid 3px var(--HeaderOutline);
    border-radius: 10px;
}

header img {
    width: 11vw;
    min-width: 150px;
    height: 12vh;
    min-height: 80px;
    object-fit: contain;
}

.containerScore {
    padding: 1vh 6%;
    background-color: white;
    border-radius: 8px;
    text-align: center;
}

.containerScore p {
    color: var(--ScoreText);
}

.score {
    display: inline-block;
    font-size: 3em;
    color: var(--DarkText);
}

.containerScores{
    display: none;
    margin: 21vh 0;
    padding: 0 2em;
}

.score-new {
    padding: 0 1em;
    border: solid 3px var(--HeaderOutline);
    border-radius: 10px;
}

.score-new p {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

.score-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    font-size: 20px;
}

.user {
    text-align: center;
}

.guardar {
    width: 30%;
    margin-top: 10px;
}
