.containerSelect {
    display: flex;
    margin-top: 20vh;
    pointer-events: none;
}


.selection {
    position: absolute;
    width: 8em;
    height: 8em;
    text-align: center;
    border-radius: 50em;
    border: 14px solid transparent;
    background-color: white;
    cursor: pointer;
}

.selection img { 
    padding: 25px;
    pointer-events: all;
}

.setOne {
    margin-top: 140px;
    margin-left: 90px;
    border-color: var(--RockGradientEnd);
    box-shadow: inset 0px 6px 2px rgb(180, 179, 179), 0px 6px 0px var(--RockGradientInit);
}

.setOne:hover {
    box-shadow: inset 0px 6px 2px rgb(180, 179, 179), 0px 6px 0px var(--RockGradientInit), 0px 6px 10px white;
}

.setTwo {
    margin-top: -50px;
    margin-left: -20px;
    border-color: var(--PaperGradientEnd);
    box-shadow: inset 0px 6px 2px rgb(180, 179, 179), 0px 6px 0px var(--PaperGradientInit);
}

.setTwo:hover {
    box-shadow: inset 0px 6px 2px rgb(180, 179, 179), 0px 6px 0px var(--PaperGradientInit), 0px 6px 10px white;
}

.setThree {
    margin-top: -50px;
    margin-left: 210px;
    border-color: var(--ScissorsGradientEnd);
    box-shadow: inset 0px 6px 2px rgb(180, 179, 179), 0px 6px 0px var(--ScissorsGradientInit);
}

.setThree:hover {
    box-shadow: inset 0px 6px 2px rgb(180, 179, 179), 0px 6px 0px var(--ScissorsGradientInit), 0px 6px 10px white;
}


@media (max-width: 450px) {

    .triangle {
        width: 80%;
        margin: auto;
    }
    
    .setOne {
        margin-top: 120px;
        margin-left: 90px;
    }
    
    .setTwo {
        margin-top: -50px;
        margin-left: 0px;
    }
    
    .setThree {
        margin-top: -50px;
        margin-left: 190px;
    }
}