:root {
    /*Colors*/

    /*Primary*/
    --ScissorsGradientInit: hsl(39, 85%, 41%);
    --ScissorsGradientEnd: hsl(40, 97%, 57%);
    --PaperGradientInit: hsl(230, 52%, 42%); 
    --PaperGradientEnd: hsl(230, 89%, 65%);
    --RockGradientInit: hsl(349, 71%, 45%); 
    --RockGradientEnd: hsl(349, 89%, 63%);
    --LizardGradientInit: hsl(261, 68%, 55%);
    --LizardGradientEnd: hsl(261, 96%, 69%);
    --SpockGradientInit: hsl(189, 54%, 48%); 
    --SpockGradientEnd: hsl(189, 78%, 65%);
    
    /*Neutral*/
    --DarkText: hsl(229, 25%, 31%);
    --ScoreText: hsl(229, 64%, 46%);
    --HeaderOutline: hsl(217, 16%, 45%);
    
    /*Background*/
    --RadialGradientInit: hsl(214, 47%, 23%);
    --RadialGradientEnd: hsl(237, 49%, 15%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 360px;
    font-weight: 700;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: radial-gradient(var(--RadialGradientInit) 30%,var(--RadialGradientEnd));
}


.title {
    color: white;
    font-size: 50px;
    text-align: center;
}

.option {
    display: block;
    margin: 2vh 30px;
    padding: 1em 1em;
    border-radius: 10px;
    outline: solid 4px var(--HeaderOutline);
    font-size: 35px;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.option:active {
    outline: solid 5px white;
}

.option:active, .option:hover {
    color: var(--SpockGradientEnd);
}

.attribution {
    position: absolute;
    bottom: 0px;
    margin-bottom: 15px;
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.atras {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 20px;
}

.atras img {
    width: 100%;
    height: 100%;
}